.slider-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

input[type="range"] {
  width: 100%;
  margin: 5px 0;
}

.values {
  display: flex;
  justify-content: end;
  margin-top: 5px;
  font-weight: bold;
}
